/* stylesheet.css */
* {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #051F72;
  text-align: left;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  font-family: "Nunito Sans";
}

#title {
    font-family: "Newsreader";
    font-size: 40px;
    font-weight: 700;
    color:#051F72;
    float: left;
    text-align: left;
    text-decoration: none;
}

/* Change the color of links on hover 
.topnav a:hover {
  background-color: #ddd;
  color: black;
} 
*/

.topnav a.active {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #051F72;
}

h1 {
    font-family: "Newsreader", serif; 
    font-weight: 700;
    color: #051F72;
}

h2 {
    font-family: "Newsreader", serif;
    font-weight: 500;
    color: #051F72;
    padding-top: 12px;
}

p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

ol {
    font-family: "Nunito Sans"; 
    font-size: 400;
}

ul {
    font-family: "Nunito Sans";
    font-weight: 400;
}